.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.eight-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
